.resbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  /* background-image: url("https://cdn2.vectorstock.com/i/1000x1000/91/41/kawaii-cartoon-food-vector-24379141.jpg"); */
  padding: 0 16px;
}


header {
  background-color: #f5ba13;
  position: relative;
  margin: auto -16px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

header ul {
  list-style: None;
  display: flex;
}

.w3-container{
  padding-top: 300px;
  position: absolute;
}

.w3-container form {
  display: flex;
}


.image-size {
  width: 400px;
  height:400px;
  border-radius: 8px;
  background-color:grey;
  display: flex;
}

.formi {
  /* display: flex; */
  position:relative;
  text-align: center;
}


.inputStyle {
  margin:'100px';
}

.leftGap {
  margin-left: 12px;
}

.Recipes {
    margin-top: 50px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: .5rem;
  

}

.div-center {
  margin-top: 2rem;
  margin-left : 50%;
  margin-bottom : 5rem;
}

.textalign {
  margin-top: 90px;
  text-align:center;
  color: orange;
}